In [ ]:
#first import
import pandas as pd

In [ ]:
# second read data set.# i got from kaggle website nike data set in a format of csv so in this case I have to read_csv to get that data
test_data=pd.read_csv(r"C:\Users\rafal\Videos\python-training-with-kumar-lecturs\practice and notes\pandas-practice\data-sets\nike_data_2022_09.csv")

In [ ]:
#print the whole data
test_data

In [ ]:
print("type of test_data is: ",type(test_data))#o/p type of test is:  <class 'pandas.core.frame.DataFrame'>
# print(test)
print(dir(test_data))# dir to get all methods of pandas file

In [ ]:
#***********applying head method on data set***************
#HEAD(n) METHOD RETURNS FIRST N RECORDS
print("first 4 records are : \n",test_data.head(4))# HEAD RETURNS N ROWS,HEAD GIVES ME 4 RECORDS WITH ALL COLUMNS IN THE DATA SET HERE I GOT FROM 0-3
# print(test_data.head())# IF I DONT SPESFIY NUMBER BY DEFULT IT RETURNS 5 RECORDS(ROWS) ONLY

In [ ]:
#*****************applying tail method on data set*******
#TAIL(n) METHODE RETURNS LAST N RECORDS
print("last 4 records are : \n",test_data.tail(4))
# print("last records without n  are : ",test_data.tail())# by defualt , it returns five last records

In [ ]:
#*******filtering dtypes*********
#FILTER 
#to know the data type for each col by using dtypes. for every string data type , it returns it as an object data type like name,gender,...etc
print("data types for each col are   : \n",test_data.dtypes)

#filter data that is object for example
print("filter data that is object are   : \n",test_data.dtypes=="object")# will get all data type for each col true except for cols that has int

In [16]:
# if we want to get only true values here will write the condition in a separate var
true_condition=test_data.dtypes=="object"# this condition 
print("only true cols : \n",test_data.dtypes[true_condition])# here will gives just the true condition depends on the variable that I set(true_condition var)
#o/p we got all cols except the int cols

only true cols :
 url                object
name               object
sub_title          object
brand              object
color              object
currency           object
availability       object
description        object
raw_description    object
images             object
available_sizes    object
uniq_id            object
scraped_at         object
dtype: object

In [19]:
false_condition=test_data.dtypes!="object"# this condition not equal
print("only false cols : \n",test_data.dtypes[false_condition])#o/p is everything not string(object)

only false cols :
 index             int64
model             int64
price           float64
avg_rating      float64
review_count    float64
dtype: object

In [20]:
#**************index for spesfic condition******************
#WE CAN KNOW ALSO IN WHICH INDEX THE COLS HAS DT=OBJECT
true_condition=test_data.dtypes=="object"# this condition 
print("object is availabl at  : \n",test_data.dtypes[true_condition].index)
# o/p object is availabl at  : 
#  Index(['url', 'name', 'sub_title', 'brand', 'color', 'currency',
#        'availability', 'description', 'raw_description', 'images',
#        'available_sizes', 'uniq_id', 'scraped_at'],
#       dtype='object')

object is availabl at  :
 Index(['url', 'name', 'sub_title', 'brand', 'color', 'currency',
       'availability', 'description', 'raw_description', 'images',
       'available_sizes', 'uniq_id', 'scraped_at'],
      dtype='object')

In [23]:
#***********descripe method on float and int ***************
# descripe method works only on int and float it displays the statistics(here will work on cols which is int or float only)
print("&&&&&& descripe method data \n",test_data.describe())#o/p will give the max price,review ...etc and min also   and so on

&&&&&& descripe method data
             index         model       price  avg_rating  review_count
count  112.000000  1.120000e+02  112.000000   23.000000     23.000000
mean    55.500000  9.298439e+07   61.506250    4.773913     31.391304
std     32.475632  2.698557e+08   39.887738    0.336043     72.942530
min      0.000000  1.013351e+07    9.970000    3.800000      1.000000
25%     27.750000  1.329489e+07   31.720000    4.750000      1.000000
50%     55.500000  1.389103e+07   45.000000    4.800000      5.000000
75%     83.250000  1.406539e+07   85.242500    5.000000     13.000000
max    111.000000  1.007648e+09  175.000000    5.000000    316.000000

In [26]:
#*****************columnss method describes all cols ***************
print("cols are : \n",test_data.columns)
# O/P cols are :
#  Index(['index', 'url', 'name', 'sub_title', 'brand', 'model', 'color', 'price',
#        'currency', 'availability', 'description', 'raw_description',
#        'avg_rating', 'review_count', 'images', 'available_sizes', 'uniq_id',
#        'scraped_at'],
#       dtype='object')

print("start and stop AND step \n" ,test_data.index)#o/p start and stop AND step  RangeIndex(start=0, stop=112, step=1)

#IF WE WANT TO ACCESS JUST NAME COLS FROM THE ROW
print("NAMES IN ROW  are : \n",test_data['name'])

cols are :
 Index(['index', 'url', 'name', 'sub_title', 'brand', 'model', 'color', 'price',
       'currency', 'availability', 'description', 'raw_description',
       'avg_rating', 'review_count', 'images', 'available_sizes', 'uniq_id',
       'scraped_at'],
      dtype='object')
start and stop AND step
 RangeIndex(start=0, stop=112, step=1)
NAMES IN ROW  are :
 0                Nike Dri-FIT Team (MLB Minnesota Twins)
1                                           Club América
2                                 Nike Sportswear Swoosh
3                                  Nike Dri-FIT One Luxe
4                  Paris Saint-Germain Repel Academy AWF
                             ...
107                            Air Jordan XXXV Low DS PF
108                          Nike College Dri-FIT (UCLA)
109                                               Jordan
110    NFL Los Angeles Rams Nike Vapor Untouchable (M...
111                 Nike Team First (MLB Houston Astros)
Name: name, Length: 112, dtype: object

In [28]:
#we can do slice on spesfic cols
print("sliceing names : \n",test_data['name'][0:3:1],"\n",test_data['price'][0:3:1])#start:stop:step get all records from 0 until 3

sliceing names :
 0    Nike Dri-FIT Team (MLB Minnesota Twins)
1                               Club América
2                     Nike Sportswear Swoosh
Name: name, dtype: object
 0     40.0
1     90.0
2    140.0
Name: price, dtype: float64

In [29]:
#to get more cols
print("more cols : \n",test_data[['name','model','price','url']])

NameError: name 'employe_data' is not defined